[submodule "backend"]
	path = backend
	url = https://github.com/IMKolganov/DataGateMonitorBackend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/IMKolganov/DataGateMonitorFrontend.git
[submodule "telegrambot"]
	path = telegrambot
	url = https://github.com/IMKolganov/DataGateVPNBot
[submodule "openvpn"]
	path = openvpn
	url = https://github.com/IMKolganov/DataGateCertManager
[submodule "xray"]
	path = xray
	url = https://github.com/IMKolganov/DataGateXRayManager
[submodule "install/vpns"]
	path = install/vpns
	url = https://github.com/IMKolganov/DataGateVpnInstall.git
